.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 5px;
  list-style-type: none;
  position: fixed;
  width: 90vw;
  top: 8vh;
  left: 5vw;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 0px 37px -9px rgba(153, 153, 153, 1);

  @media (--med) {
    flex-direction: row;
    position: static;
    box-shadow: none;
    padding: 0;
    width: auto;
  }
}

.header-nav__nav-item {
  margin: 10px;
}

.header-nav__nav-link {
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  font-size: 1.2em;

  &:hover {
    cursor: pointer;
    color: $darkblue;
  }

  @media (--med) {
    color: gray;
  }
}
