<footer class="footer">
  <div class="footer__content-block footer__socials">
    <a class="footer__social" href="#"><img src="/images/icon-facebook.svg" alt=""></a>
    <a class="footer__social" href="#"><img src="/images/icon-youtube.svg" alt=""></a>
    <a class="footer__social" href="#"><img src="/images/icon-twitter.svg" alt=""></a>
    <a class="footer__social" href="#"><img src="/images/icon-pinterest.svg" alt=""></a>
    <a class="footer__social" href="#"><img src="/images/icon-instagram.svg" alt=""></a>
  </div>


  <button class="footer__invite-btn invite-btn footer__content-block">Request Invite</button>

  <p class="footer__copyright footer__content-block">&#169; Easybank. All Rights Reserved</p>
</footer>
